
    <div class="container">
        <div class="cardContent">
            <div class="subCard">
                <div>
    <h2>{{clientDetails.data[0].totalClient}}</h2>
</div>
<div>
    <h4>Total Client</h4>
</div>
<div>
    <img src="/assets/images/icons8-user-80.png" alt="">
</div>
    </div>
        </div>
        <div class="cardContent">
            <div class="subCard">
                <div>
    <h2>{{clientDetails.data[2].ClientCount}}</h2>
</div>
<div>
    <h4>Active Client</h4>
</div>
<div>
    <img src="/assets/images/icons8-user-80.png" alt="">
</div>
    </div>
        </div>
        <div class="cardContent">
            <div class="subCard">
                <div>
    <h2>{{clientDetails.data[1].ClientCount}}</h2>
</div>
<div>
    <h4>Inactive Client</h4>
</div>
<div>
    <img src="/assets/images/icons8-user-80.png" alt="">
</div>
    </div>
        </div>
        <div class="cardContent">
            <div class="subCard">
                <div>
    <h2>{{clientDetails.data[3].ClientCount}}</h2>
</div>
<div>
    <h4>Recent Clients</h4>
</div>
<div>
    <img src="/assets/images/icons8-course-50.png" alt="">
</div>
    </div>
        </div>
    </div>

    
    